<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alien Zoo</title>
</head>
<body>
    <center>
        <section>
            <h1>Main 페이지</h1>
        </section>
    </center>
    <section>
        <!-- Flask 서버에서 넘겨준 돈을 출력하는 부분 -->
        <p>돈: {{ money }}만원</p> 
    </section>
    <center>
        <section>
            <!-- 포획에 성공한 Alien들을 나타내는 테이블 -->
            <p>포획한 Alien들</p>
            <table border="1">
                <tr>
                    <th></th>
                    <th>Small Monster</th>
                    <th>Large Monster</th>
                    <th>Huge Monster</th>
                    <th>Boss Monster</th>
                </tr>
                <tr>
                    <th>물 은하</th>
                    <td>{{alien_1_1}}</td>
                    <td>{{alien_1_2}}</td>
                    <td>{{alien_1_3}}</td>
                    <td>{{alien_1_4}}</td>
                </tr>
                <tr>
                    <th>불 은하</th>
                    <td>{{alien_2_1}}</td>
                    <td>{{alien_2_2}}</td>
                    <td>{{alien_2_3}}</td>
                    <td>{{alien_2_4}}</td>
                </tr>
                <tr>
                    <th>흙 은하</th>
                    <td>{{alien_3_1}}</td>
                    <td>{{alien_3_2}}</td>
                    <td>{{alien_3_3}}</td>
                    <td>{{alien_3_4}}</td>
                </tr>
            </table>
        </section>
    </center>
    <section>
        <!-- 탐험대 모집 페이지로 이동하는 버튼 -->
        <form action="{{ url_for('page_3') }}" method="get">
            <button type="submit">탐험대 모집</button>
        </form>
        <!-- 연구소 페이지로 이동하는 버튼 -->
        <form action="{{ url_for('page_4') }}" method="get">
            <button type="submit">연구소</button>
        </form>
        <!-- 탐험을 시작하는 버튼 -->
        <form action="{{ url_for('page_5_1') }}" method="get">
            <button type="submit">탐험하기</button>
        </form>
    </section>
</body>
</html>