<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alien Zoo</title>
</head>
<body>
    <center>
        <section>
            <h1>You Win!</h1>
            <p>축하드립니다!</p>
            <p>당신은 비밀 은하에 사는 그로구까지 포획하는 데 성공했습니다!</p>
        </section>
    </center>
    <center>
        <section>
            <img src="{{ url_for('static', filename='images/1_1.png') }}" alt="Title Image">
        </section>
    </center>
</body>
</html>